@import "tailwindcss";

@theme {
  --color-vinted: #09B1BA;
  --color-vinted-hover: #079da6;
  --color-background-soft: #f9fafb;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #030712;
      /* Tailwind gray-950 */
      --foreground: #f3f4f6;
      /* Tailwind gray-100 */
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
    /* Prevent pull-to-refresh & overscroll on mobile */
    overscroll-behavior-y: none;
    /* Remove tap highlight on iOS */
    -webkit-tap-highlight-color: transparent;
  }
}